<div class="login-page bg-light mb-0">
    <div class="container loaction">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">

                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row g-4">
                                        <div class="col-12">
                                            <label>Email<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" class="form-control" formControlName="email" placeholder="Enter your email.." required>
                                            </div>

                                            <div class="error-message" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                                                Email is required
                                            </div>
                                            <div class="error-message" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                                                Enter a Valid email address
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label>Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input type="password" class="form-control" formControlName="password"  placeholder="Enter Password">
                                            </div>

                                            <div class="error-message" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" >
                                                Password is required
                                            </div>

                                           

                                            <div class="error-message" *ngIf="loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched" >
                                                Password must have at least 8 characters, including letters and numbers
                                            </div>

                                        </div>
                                        <div *ngIf="loginError" class="error">
                                            {{ loginError }}
                                          </div>


                                     

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary px-4 float-end mt-4"[disabled]="loginForm.invalid" >
                                                <span class="spinner-border spinner-border-sm" [style.display]="isLoading ? 'inline-block' : 'none'" role="status" aria-hidden="true"></span>
                                                login
                                            </button>
                                        </div>
                                        <div class="col-12">
                                            <p class="text-center">Don't have account? <a routerLink="/register">Register here</a></p>
                                            </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-bootstrap"></i>
                                <h2 class="fs-1">Welcome Back!!!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>