@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

/* header-component.component.css */

.large-icon {
    margin: auto;
    margin-left: 20px;
    font-size: 24px; /* Adjust the font-size as needed */
  }
  
.iconColor{
  color: white;
}